aside {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;

    width: 10vw;
    height: fit-content;
}

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.icons-container > li {
    padding: 0;
}

#icons-line {
    height: 15vh;
    width: 1px;
    padding: 0;
    background-color: $text_color_light;
    cursor: auto;
}

.fa-brands {
    font-size: 1.75rem;
    // background-color: aliceblue;
    color: $accent_color;
}