.tags-container {
    margin: 2rem 0;
}

.tags-list {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    list-style-type: none;
}

.tag-btn {
    padding: 0.25rem;
    border: 1px solid $text_color_light;
    border-radius: $border_radius;
    font-size: 0.9rem;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.tag-btn:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
}

.marked {
    padding: 0.25rem;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: $border_radius;
    font-size: 0.9rem;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}