$primary_color: #252934;
$secondary_color: #1e242c;
$third_color: #1c2634;
$accent_color: #04c2c9;
$secondary_accent_color: #e57429;
$accent_color_transparent: #43cdd2d9;
$text_color_dark: #000;
$text_color_light: #fefefe;
$test: #323942;
$text_color_light_variation: #c7d3d8;