$primary_color: #31314A;
$secondary_color: #201e2c;
$third_color: #1c2634;
$accent_color: #e57429;
$accent_color_transparent: #64467D;
$text_color_dark: #000;
$text_color_light: #fefefe;
$text_color_light_variation: #c7d3d8;
$text_color_accent: #e57429;

